*{
    margin: 0;
    padding: 0;
}
/*selector de etiqueta*/
body{
    background-attachment: rgba(255, 255, 255, 0.468);
    background-color:darkorchid;
    color:black;
}




main{
    background-color: aliceblue;
    margin: 5% 5%;
    padding: 5% 5%;
    border-radius: 1%;
}

article{
    background-color: beige;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 10%;
}
h1{
    color: black;
    text-align: center;
    padding: 10px 10px;
}
h3{
    margin-top: 5px;
}
h4{
    margin-top: 25px;
    margin-bottom: 5px;
}
/*selector id*/
#contenedor{
    width: 75%;
    height: 75%;
    background-color: bisque;
    margin: 100px;
    padding: 20px;

}
#encabezado{
    width: 50%;
    height: 100%;
    background-color: blanchedalmond;
    margin: 1em;
    text-align: center;
    border-radius: 25px;

}

.img{
    width: 400px;
    height: 600px;
    justify-items: center;
}
.img:hover{
    width: 450px;
    height: 620px;
}
.text{
    margin-left: 20%;
    margin-right: 20%;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 5px, 25px;
    color: black;

}
.pie{
    height: 60px;
    text-decoration: none;
    color: black;
}